ul {
    padding-inline-start: 0;
}

ul li {
    list-style-type: none;
    padding: 0.5em;
    border: 0.05em solid #2A2A2A;
    border-radius: 0.5em;
    margin: 0.2em;
}

ul li div {
    display: flex;
    flex-direction: row;
}

ul li input[type='checkbox'] {
    margin-inline-end: 1em;
}

ul li input[type='text'] {
    background: #555555;
    color: #EEEEEE;
    border: none;
    border-radius: 0.8em;
    padding: 0.1em 0.5em 0.6em 0.6em;
    flex: 1 1 auto;
}

.fade {
    opacity: 0;
    transition: 500ms;
}